services:
  api_server:
    build:
      context: ./api_server
      dockerfile: Dockerfile
    command: uvicorn api_server:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"

  veritas-web:
    build: ./veritas-web
    environment:
      MINI_WEB_PORT: "8080"
    command: uvicorn app:app --host 0.0.0.0 --port 8080
    ports:
      - "8080:8080"

  veritas-mini-web:
    build: ./veritas-mini-web
    environment:
      MINI_WEB_PORT: "8088"
    command: uvicorn app:app --host 0.0.0.0 --port 8088
    ports:
      - "8088:8088"

  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
    env_file:
      - .env.neo4j

volumes:
  neo4j_data:
