name: Auto Merge PRs

on:
  workflow_dispatch: # Allows manual triggering of the workflow
  schedule:
    - cron: '0 * * * *' # Runs every hour

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run auto_merge_prs.sh
        run: |
          chmod +x ./auto_merge_prs.sh
          ./auto_merge_prs.sh
